* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.container-fundo {
  background-image: url("./img-fundo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(
    4,
    100px
  ); /*serve para diividir a linha em 4 colunas a 100px*/
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container > button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: #616161;
  color: #fff;
}

.grid-container > button:hover {
  background-color: #fffdfd;
  color: #000000;
}

.grid-container > .operator {
  background-color: rgb(255, 138, 43);
}

.span-two {
  grid-column: span 2;
}

.grid-container > .output {
  grid-column: 1 / -1;
  background-color: rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.grid-container > .output > .previous-operand {
  color: #616161;
  font-size: 1.5rem;
}

.grid-container > .output > .current-operand {
  color: #ececec;
  font-size: 2.5rem;
}
